exportPattern("^[[:alpha:]]+")
importFrom("graphics", "abline", "barplot", "lines", "mtext", "par",
           "plot", "points", "polygon", "rect", "text")
importFrom("stats", "binomial", "complete.cases", "cor", "family",
           "glm", "logLik", "median", "na.omit", "pchisq", "qf",
           "quantile", "resid", "xtabs")

